default:
  module: "src.language_models.instance.huggingface_lora_language_model.HuggingfaceLoRALanguageModel"
  parameters:
    role_dict:
      user: "user"
      agent: "assistant"
    dtype: "bfloat16"
    device_map: "niuload"
    lora_config:
      r: 16
      lora_alpha: 32
      target_modules: ["q_proj", "v_proj", "k_proj", "o_proj"]
      lora_dropout: 0.1
      bias: "none"
      task_type: "CAUSAL_LM"

Qwen2.5-7B-Instruct-LoRA:
  parameters:
    model_name_or_path: "/mnt/pfs_l2/jieti_team/MMGroup/lzz/huggingface_checkpoint/Qwen2.5-7B-Instruct"

